<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <strong> Users List</strong>
    </div>
    <div class="card-body">
      <alert type="warning">
        <strong>warning..!</strong> If you deleted a user, then all details of
        customer will be deleted for customer as well.
      </alert>
      <div class="row mb-3">
        <div class="col-md-4 offset-md-8">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input
              class="form-control"
              placeholder="Search here"
              type="text"
              (keyup)="applyFilter($event)"
            />
          </div>
        </div>
      </div>

      <div class="mat-elevation-z8">
        <table
          mat-table
          [dataSource]="dataSource"
          multiTemplateDataRows
          class="mat-elevation-z8"
          matSort
        >
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <strong>Sr No.</strong>
          </th>
          <td mat-cell *matCellDef="let element;let i = dataIndex">{{i+1}}</td>
        </ng-container>

          <ng-container matColumnDef="user_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <strong>ID</strong>
            </th>
            <td mat-cell *matCellDef="let element">{{ element.user_id }}</td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="full_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Full Name</th>
            <td mat-cell *matCellDef="let element">{{ element.full_name }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
            <td mat-cell *matCellDef="let element">(P){{ element.phone }}<br/>{{element.alternate_phone !== '' ?'(A)':''}}{{ element.alternate_phone }}</td>
          </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td
              mat-cell
              *matCellDef="let element"
              [style.color]="element.email"
            >
              {{ element.email }}
            </td>
          </ng-container>
          <ng-container matColumnDef="full_address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
            <td
              mat-cell
              *matCellDef="let element"
              [style.color]="element.email"
            >
              {{ element.full_address }}, {{ element.landmark }},
              {{ element.city }}
            </td>
          </ng-container>
          <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
            <td
              mat-cell
              *matCellDef="let element"
              [style.color]="element.email"
            >
              {{ element.city }}
            </td>
          </ng-container>


          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td
              mat-cell
              *matCellDef="let element"
              [style.action]="element.action"
            >
              <button
                type="button"
                class="btn btn-block btn-dark"
                (click)="onDeletClick(element)"
              >
                Delete
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns; let i = index"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>
