<div class="card" *ngIf="!isEdit">
  <!-- <div class="card-header">
    <strong>Add Category Form</strong>
  </div> -->
  <div class="card-body">
    <form>
      <!-- <div class="row">
        <div class="col-6">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="category"
              >Select Category:</label
            >
            <div class="col-md-9">
              <select
                id="select1"
                name="select1"
                class="form-control"
                (change)="onCategoryChange($event.target.value)"
              >
                <option value="0">Select Category</option>
                <option
                  *ngFor="let category of allCategoryList; let i = index"
                  [value]="category.category_id"
                  >{{ category.category_name }}</option
                >
              </select>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group row" *ngIf="allSubCategoryList.length > 0">
            <label class="col-md-3 col-form-label" for="category">
              Sub Category:</label
            >
            <div class="col-md-9">
              <select
                id="select1"
                name="select1"
                class="form-control"
                (change)="getAllProducts($event.target.value)"
              >
                <option value="0">Select Category</option>
                <option
                  *ngFor="
                    let category of allSubCategoryList;
                    let i = index
                  "
                  [value]="category.subcategory_id"
                >
                  {{ category.subcategory_name }}</option
                >
              </select>
            </div>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col-4">
          <!-- <label for="category">Select City</label> -->
          <select
            id="select1"
            name="select1"
            class="form-control"
            (change)="onCitySelection($event)"
          >
            <option value="">Select city</option>
            <option [value]="city.city_name" *ngFor="let city of cityList">{{
              city.city_name
            }}</option>
          </select>
        </div>
        <div class="col-4">
          <div class="form-group">
            <select
              id="select1"
              name="select1"
              class="form-control"
              (change)="onCategoryChange($event.target.value)"
            >
              <option value="0">Select Category</option>
              <option
                *ngFor="let category of allCategoryList; let i = index"
                [value]="category.category_id"
                >{{ category.category_name }}</option
              >
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group" *ngIf="allSubCategoryList.length > 0">
            <select
              id="select1"
              name="select1"
              class="form-control"
              (change)="getAllProducts($event.target.value)"
            >
              <option value="0">Select Category</option>
              <option
                *ngFor="let category of allSubCategoryList; let i = index"
                [value]="category.subcategory_id"
              >
                {{ category.subcategory_name }}</option
              >
            </select>
          </div>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col-6">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
          </div>
          <input
            class="form-control"
            placeholder="Type to search product"
            type="text"
            #myInput
            [(ngModel)]="searchValue"
            (input)="applyFilter(myInput.value)"
          />
        </div>
      </div>
      <div class="col-6">
        <alert type="info">
          <strong>Information!</strong> Select a category to sort product
        </alert>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="allProductList.length > 0 && !isEdit">
  <div
    class="col-sm-6 col-md-4"
    *ngFor="let item of filteredAllProductList; let i = index"
  >
    <div class="card card-accent-primary">
      <div class="card-header">
        <strong> {{ item.product_name }}</strong>
        <div class="card-header-actions" style="height: 21px;">
          <label class="switch switch-sm switch-label switch-info">
            <input
              type="checkbox"
              class="switch-input"
              [checked]="item.status == 1"
              (change)="onAvailableCheckboxChange(item)"
            />
            <span
              class="switch-slider"
              data-checked="On"
              data-unchecked="Off"
            ></span>
          </label>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <img [src]="item.product_image[0]" alt="" class="productImage" />
          </div>
          <div class="col-8">
            <label
              ><strong
                [ngClass]="{
                  'text-success': item.status == 1,
                  'text-danger': item.status != 1
                }"
                >{{ item.status == 1 ? "Avalable" : "Out Of Stauck" }}</strong
              ></label
            >
            <p>
              <strong>Discription</strong>: {{ item.product_description }}<br />
              <strong>Art Name</strong>: {{ item.maker_name }}<br />
              <strong>Price</strong>:
              {{ item.product_sales[0]?.item_discount_price }}/{{
                item.product_sales[0]?.item_mrp
              }}<br />
            </p>
          </div>
        </div>
        <div class="row align-items-center buttonClass">
          <div class="col-6">
            <button
              type="button"
              class="btn btn-block btn-primary"
              (click)="onProductEditClick(item)"
            >
              Edit
            </button>
          </div>
          <div class="col-6">
            <button
              type="button"
              class="btn btn-block btn-dark"
              (click)="onProductDeleteClick(item)"
            >
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<label *ngIf="isEdit">
  <strong>Product</strong>: {{ selectedProductDataForEdit.product_name }}
</label>
<app-add-product
  *ngIf="isEdit"
  [isEdit]="isEdit"
  [productDetails]="selectedProductDataForEdit"
  (closeForm)="closeFormCheck($event)"
></app-add-product>
